<div class="container mt-5">
  <h1>Welcome to Goodreads</h1>
  <div class="list-group mt-4">
    <a href="<%= stats_path %>" class="list-group-item list-group-item-action">
      Author Statistics
    </a>
    <a href="<%= top_10_rated_books_path %>" class="list-group-item list-group-item-action">
      Top 10 Rated Books
    </a>
    <a href="<%= top_50_selling_books_path %>" class="list-group-item list-group-item-action">
      Top 50 Selling Books
    </a>
  </div>
</div>
